@charset "UTF-8";
@font-face {
  font-family: PfsquaresansproReg;
  src: url(../fonts/pfsquaresanspro-regular.ttf); }
@font-face {
  font-family: RalewayRegular;
  src: url(../fonts/RalewayRegular.eot);
  src: local("☺"), url("../fonts/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RalewayBlack;
  src: url(../fonts/RalewayBlack.eot);
  src: local("☺"), url("../fonts/RalewayBlack.woff") format("woff"), url("../fonts/RalewayBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RalewayBold;
  src: url(../fonts/RalewayBold.eot);
  src: local("☺"), url("../fonts/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v10-latin-regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v10-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v10-latin-regular.woff") format("woff"), url("../fonts/montserrat-v10-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v10-latin-regular.svg#Montserrat") format("svg"); }
a {
  color: #000; }
  a:hover {
    color: #000; }

body {
  font-family: PfsquaresansproReg; }

.max-container {
  padding: 0 85px;
  position: relative; }

.button-style {
  display: block;
  color: #fff;
  font-size: 18px;
  font-family: RalewayRegular;
  padding: 12px 80px;
  border-radius: 50px;
  background: linear-gradient(45deg, #79cc02, #2fa92a);
  cursor: pointer;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .button-style.shadow {
    -webkit-box-shadow: -8px 10px 48px 0px rgba(0, 0, 0, 0.4);
            box-shadow: -8px 10px 48px 0px rgba(0, 0, 0, 0.4); }
  .button-style:hover {
    opacity: 0.92; }

.abs-lines-1 {
  position: absolute;
  height: 100%;
  -webkit-transform: translateX(165px);
          transform: translateX(165px);
  top: 0;
  left: 50%;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .abs-lines-1.lines-at-sec-7 {
    -webkit-transform: translateX(-230px);
            transform: translateX(-230px); }
    .abs-lines-1.lines-at-sec-7 .for-p-style {
      position: absolute; }
      .abs-lines-1.lines-at-sec-7 .for-p-style .one-b {
        -webkit-transform: none !important;
                transform: none !important;
        width: 620px !important; }
        .abs-lines-1.lines-at-sec-7 .for-p-style .one-b p {
          font-size: 23px; }
      .abs-lines-1.lines-at-sec-7 .for-p-style .s {
        font-size: 18px;
        color: #fff;
        padding-left: 20px; }
      .abs-lines-1.lines-at-sec-7 .for-p-style.one-for-1 {
        top: 115px;
        left: 0; }
      .abs-lines-1.lines-at-sec-7 .for-p-style.one-for-2 {
        top: 285px;
        left: 187px; }
        .abs-lines-1.lines-at-sec-7 .for-p-style.one-for-2 .one-b-2:after {
          bottom: 242px; }
      .abs-lines-1.lines-at-sec-7 .for-p-style.one-for-3 {
        top: 465px;
        left: 423px; }
        .abs-lines-1.lines-at-sec-7 .for-p-style.one-for-3 .one-b-3 .small-line {
          bottom: 367px; }
        .abs-lines-1.lines-at-sec-7 .for-p-style.one-for-3 .one-b-3:after {
          bottom: 254px;
          height: 38px; }
  .abs-lines-1 .one-b {
    border-left: 6px solid #bc7c0b;
    width: 300px;
    position: relative; }
    .abs-lines-1 .one-b:before {
      content: "";
      background: #bc7c0b;
      display: block;
      position: absolute;
      bottom: 100%;
      width: 1px;
      left: -5px; }
    .abs-lines-1 .one-b:after {
      content: "";
      background: #bc7c0b;
      display: block;
      position: absolute;
      height: 1000px;
      width: 1px;
      left: -5px; }
    .abs-lines-1 .one-b p {
      color: #fff;
      font-family: RalewayBold;
      font-size: 30px;
      padding-left: 15px;
      text-transform: uppercase; }
    .abs-lines-1 .one-b.one-b-1 {
      -webkit-transform: translateY(-130px);
              transform: translateY(-130px); }
      .abs-lines-1 .one-b.one-b-1:before {
        height: 145px; }
      .abs-lines-1 .one-b.one-b-1:after {
        bottom: 271px; }
    .abs-lines-1 .one-b.one-b-2 {
      -webkit-transform: translateX(-120px);
              transform: translateX(-120px); }
      .abs-lines-1 .one-b.one-b-2:before {
        height: 43px; }
      .abs-lines-1 .one-b.one-b-2:after {
        bottom: 223px; }
    .abs-lines-1 .one-b.one-b-3 {
      -webkit-transform: translate(-220px, 130px);
              transform: translate(-220px, 130px); }
      .abs-lines-1 .one-b.one-b-3:before {
        height: 43px; }
      .abs-lines-1 .one-b.one-b-3:after {
        bottom: 223px;
        height: 265px; }
      .abs-lines-1 .one-b.one-b-3 .small-line {
        background: #bc7c0b;
        display: block;
        position: absolute;
        height: 1000px;
        width: 1px;
        left: -5px;
        bottom: 531px; }

.sec-lvl-1 {
  position: relative;
  overflow: hidden; }
  .sec-lvl-1 header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%; }
    .sec-lvl-1 header .menu-wrapp {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .sec-lvl-1 header .menu-wrapp .side {
        width: 400px; }
        .sec-lvl-1 header .menu-wrapp .side.left-side {
          -ms-flex-negative: 0;
              flex-shrink: 0; }
          .sec-lvl-1 header .menu-wrapp .side.left-side .for-right-border {
            position: relative; }
            .sec-lvl-1 header .menu-wrapp .side.left-side .for-right-border:before {
              content: "";
              display: block;
              position: absolute;
              top: calc(50% + 5px);
              right: 50px;
              width: 1px;
              background: #959595;
              height: 45px;
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%); }
        .sec-lvl-1 header .menu-wrapp .side.right-side {
          -ms-flex-negative: 0;
              flex-shrink: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end; }
          .sec-lvl-1 header .menu-wrapp .side.right-side .work-time {
            margin: 0;
            font-size: 14px;
            padding-right: 25px;
            text-transform: uppercase;
            color: #fff; }
          .sec-lvl-1 header .menu-wrapp .side.right-side .phone {
            color: #fff;
            display: block;
            position: relative;
            top: 2px;
            padding-left: 18px;
            background-image: url(../img/tel.png);
            background-repeat: no-repeat;
            background-position: top 5px left;
            font-size: 18px;
            font-family: 'Montserrat';
            -webkit-transition: 0.3s;
            transition: 0.3s; }
            .sec-lvl-1 header .menu-wrapp .side.right-side .phone:hover {
              color: #55bb16; }
        .sec-lvl-1 header .menu-wrapp .side.mid-side {
          width: auto; }
          .sec-lvl-1 header .menu-wrapp .side.mid-side ul {
            margin: 0;
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            .sec-lvl-1 header .menu-wrapp .side.mid-side ul li {
              padding: 5px 20px;
              cursor: pointer;
              text-transform: uppercase;
              color: #fff;
              font-size: 18px;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
              .sec-lvl-1 header .menu-wrapp .side.mid-side ul li:hover {
                color: #55bb16; }
  .sec-lvl-1 .slider-main-wr .slider-main .slide {
    outline: none;
    height: 750px;
    background-size: cover;
    background-position: center; }
  .sec-lvl-1 .abs-contant-slider {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 5;
    width: 100%; }
    .sec-lvl-1 .abs-contant-slider .left-side {
      width: 50%; }
      .sec-lvl-1 .abs-contant-slider .left-side h2 {
        font-size: 60px;
        font-family: RalewayBlack;
        color: #fff; }
      .sec-lvl-1 .abs-contant-slider .left-side .some-images {
        padding: 20px 0; }
      .sec-lvl-1 .abs-contant-slider .left-side .some-text {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        font-family: RalewayRegular;
        margin-bottom: 20px; }
    .sec-lvl-1 .abs-contant-slider .for-main-button-wrapp {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .sec-lvl-1 .slider-nav-wr {
    position: absolute;
    z-index: 5;
    bottom: 15px;
    left: 0;
    width: 100%; }
    .sec-lvl-1 .slider-nav-wr .head-sl-nav {
      margin-bottom: 25px;
      color: #fff;
      font-size: 24px;
      text-align: center;
      font-family: RalewayBold;
      text-transform: uppercase; }
    .sec-lvl-1 .slider-nav-wr .max-container {
      max-width: 1450px;
      margin: 0 auto;
      padding: 0; }
    .sec-lvl-1 .slider-nav-wr .slider-nav .slide {
      outline: none;
      padding-bottom: 3px;
      padding-left: 3px;
      cursor: pointer; }
      .sec-lvl-1 .slider-nav-wr .slider-nav .slide .nav-one-sl {
        position: relative; }
      .sec-lvl-1 .slider-nav-wr .slider-nav .slide span {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 15px;
        display: block; }
      .sec-lvl-1 .slider-nav-wr .slider-nav .slide .circle {
        width: 13px;
        height: 13px;
        background: #959595;
        border-radius: 50%;
        border: 3px solid transparent; }
        .sec-lvl-1 .slider-nav-wr .slider-nav .slide .circle:before {
          content: "";
          display: block;
          position: absolute;
          top: 48px;
          left: 13px;
          background: #959595;
          width: calc(100% - 10px);
          height: 1px; }
        .sec-lvl-1 .slider-nav-wr .slider-nav .slide .circle:after {
          content: "";
          display: block;
          position: absolute;
          top: 48px;
          left: 13px;
          background: #55bb16;
          width: calc(0% - 10px);
          height: 1px; }
      .sec-lvl-1 .slider-nav-wr .slider-nav .slide.slick-current .circle {
        border: none;
        background: transparent;
        -webkit-box-shadow: 0px 0px 0px 3px #55bb16;
        box-shadow: 0px 0px 0px 3px #55bb16; }
        .sec-lvl-1 .slider-nav-wr .slider-nav .slide.slick-current .circle.changed:after {
          -webkit-transition: width 5s;
          transition: width 5s;
          width: calc(100% - 10px); }
    .sec-lvl-1 .slider-nav-wr .slider-nav .slick-arrow {
      position: absolute;
      bottom: 10px;
      font-size: 0;
      border: none;
      background-color: transparent;
      width: 14px;
      height: 26px;
      outline: none; }
      .sec-lvl-1 .slider-nav-wr .slider-nav .slick-arrow.slick-prev {
        left: -60px;
        background-image: url(../img/arr-prev.png); }
      .sec-lvl-1 .slider-nav-wr .slider-nav .slick-arrow.slick-next {
        right: -60px;
        background-image: url(../img/arr-next.png); }
    .sec-lvl-1 .slider-nav-wr .abs-all-marks {
      position: absolute;
      bottom: 4px;
      right: 0;
      cursor: pointer;
      z-index: 10; }
      .sec-lvl-1 .slider-nav-wr .abs-all-marks span {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 15px;
        display: block;
        text-align: right; }
      .sec-lvl-1 .slider-nav-wr .abs-all-marks .circle {
        width: 13px;
        height: 13px;
        background: #959595;
        border-radius: 50%;
        border: 3px solid transparent;
        margin-left: auto; }

.sec-lvl-2 {
  background-image: url(../img/circle-img.png), url(../img/turb.jpg);
  background-repeat: no-repeat;
  background-position: top left, bottom right; }
  .sec-lvl-2 .for-flex-sides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .sec-lvl-2 .for-flex-sides .left-side {
      width: 40%;
      padding-top: 150px;
      text-transform: uppercase; }
      .sec-lvl-2 .for-flex-sides .left-side h2 {
        font-size: 60px;
        color: #bc7c0b;
        font-family: RalewayBold;
        margin-bottom: 20px; }
      .sec-lvl-2 .for-flex-sides .left-side .t1 {
        font-family: RalewayBold;
        font-size: 24px;
        margin-bottom: 37px; }
      .sec-lvl-2 .for-flex-sides .left-side .t2 {
        font-size: 24px;
        color: #bc7c0b;
        margin-bottom: 10px;
        font-family: RalewayBold; }
      .sec-lvl-2 .for-flex-sides .left-side .t3 {
        font-family: RalewayBold;
        font-size: 18px;
        margin-bottom: 60px; }
      .sec-lvl-2 .for-flex-sides .left-side .t4 {
        font-size: 10px;
        font-family: RalewayRegular;
        margin-bottom: 30px; }
    .sec-lvl-2 .for-flex-sides .right-side {
      width: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

.form-wrapp {
  width: 100%; }
  .form-wrapp form {
    margin: 0 auto;
    position: relative;
    width: 450px;
    background-size: contain;
    background: url(../img/sec-2-form-top.png), url(../img/sec-2-form-bott.png);
    background-position: top left, bottom left;
    background-repeat: no-repeat;
    padding-bottom: 95px; }
  .form-wrapp .first-form-text {
    padding: 130px 0 0 0;
    font-family: RalewayBold;
    font-size: 24px;
    color: #3e4234;
    position: relative;
    text-transform: uppercase; }
  .form-wrapp .alighn-inp {
    width: 245px;
    margin: 0 auto; }
    .form-wrapp .alighn-inp input {
      display: block;
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid #d7d7d7;
      padding: 3px 0 3px 23px;
      background-color: transparent;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      margin-bottom: 45px;
      font-family: RalewayRegular;
      font-size: 14px;
      background-repeat: no-repeat; }
      .form-wrapp .alighn-inp input:focus {
        border-color: #f0c212; }
      .form-wrapp .alighn-inp input.name-inp {
        background-image: url(../img/name-inp-bg.png);
        background-position: top 6px left 4px; }
      .form-wrapp .alighn-inp input.tel-inp {
        background-image: url(../img/tel-inp-bg.png);
        background-position: top 6px left 3px; }
    .form-wrapp .alighn-inp .agreement {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      margin-bottom: 55px; }
      .form-wrapp .alighn-inp .agreement .agree-check {
        -ms-flex-negative: 0;
            flex-shrink: 0;
        width: 18px;
        height: 18px;
        margin-right: 12px;
        border: 3px solid #d7d7d7;
        display: block;
        position: relative;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        .form-wrapp .alighn-inp .agreement .agree-check:before {
          content: "";
          position: absolute;
          display: block;
          width: 8px;
          height: 8px;
          background-color: transparent;
          top: 2px;
          left: 2px;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
        .form-wrapp .alighn-inp .agreement .agree-check.agree {
          border-color: #51b918; }
          .form-wrapp .alighn-inp .agreement .agree-check.agree:before {
            background-color: #51b918; }
      .form-wrapp .alighn-inp .agreement p {
        font-family: RalewayRegular;
        font-size: 10px; }
        .form-wrapp .alighn-inp .agreement p span {
          -webkit-transition: 0.3s;
          transition: 0.3s;
          cursor: pointer; }
          .form-wrapp .alighn-inp .agreement p span:hover {
            color: #55bb16; }
  .form-wrapp button {
    width: 100%;
    -webkit-box-shadow: -8px 10px 48px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -8px 10px 48px 0px rgba(0, 0, 0, 0.4); }

.tatia-counter-1.flip-clock-wrapper ul {
  width: 38px;
  height: 61px; }

.tatia-counter-1.flip-clock-wrapper ul li a div div.inn {
  font-size: 46px; }

.tatia-counter-1.flip-clock-wrapper ul li {
  line-height: 65px; }

.tatia-counter-1 .flip-clock-dot.top {
  top: 22px; }

.tatia-counter-1 .flip-clock-divider {
  height: 70px; }

.tatia-counter-1 .flip-clock-dot.bottom {
  bottom: 19px; }

.tatia-counter-1 .flip-clock-divider .flip-clock-label {
  right: -61px; }

.tatia-counter-1 .flip-clock-divider.minutes .flip-clock-label {
  right: -66px; }

.tatia-counter-1 .flip-clock-divider.seconds .flip-clock-label {
  right: -67px; }

.flip-clock-wrapper {
  margin: 0;
  margin-bottom: 35px; }

.sec-lvl-3 {
  background: #ebebeb; }
  .sec-lvl-3 .for-slide-down {
    display: none; }
  .sec-lvl-3 .first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px; }
    .sec-lvl-3 .first-row .cat-taxt {
      text-transform: uppercase;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      width: 10%;
      margin-bottom: 40px;
      font-family: RalewayBold;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer; }
      .sec-lvl-3 .first-row .cat-taxt:hover {
        color: #55bb16; }
      .sec-lvl-3 .first-row .cat-taxt.for-change {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
  .sec-lvl-3 .flex-cat-lvl-1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .sec-lvl-3 .flex-cat-lvl-1.slided-block-style .one-brand {
      width: 10%; }
    .sec-lvl-3 .flex-cat-lvl-1 .one-brand {
      width: 12.5%;
      padding: 0 20px;
      border-left: 1px solid #d9d9d9;
      margin-bottom: 40px; }
      .sec-lvl-3 .flex-cat-lvl-1 .one-brand:last-child {
        border-right: 1px solid #d9d9d9; }
      .sec-lvl-3 .flex-cat-lvl-1 .one-brand:nth-child(10n) {
        border-right: 1px solid #d9d9d9; }
      .sec-lvl-3 .flex-cat-lvl-1 .one-brand .for-bg-brand {
        height: 75px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer; }
  .sec-lvl-3 .text-in-slide-down .f {
    font-family: RalewayBold;
    font-size: 24px;
    text-transform: uppercase;
    border-left: 6px solid #bc7c0b;
    letter-spacing: 1px;
    padding-left: 20px; }
  .sec-lvl-3 .text-in-slide-down .s {
    padding-left: 26px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: RalewayRegular;
    font-weight: bold;
    padding-bottom: 40px; }

.sec-lvl-4 {
  padding: 60px 0;
  background-image: url(../img/car-bg.png), url(../img/circle-2.png);
  background-repeat: no-repeat;
  background-position: top left -10px, top -309px left 68%; }
  .sec-lvl-4 .for-flex-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .sec-lvl-4 .for-flex-cont .side {
      width: 665px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: auto; }
      .sec-lvl-4 .for-flex-cont .side h4 {
        font-family: RalewayBold;
        font-size: 47px;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 15px; }
        .sec-lvl-4 .for-flex-cont .side h4 span {
          font-size: 55px;
          color: #bc7c0b; }
      .sec-lvl-4 .for-flex-cont .side p {
        max-width: 561px;
        margin-left: auto;
        font-family: RalewayBold;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 80px; }
      .sec-lvl-4 .for-flex-cont .side .senter-butt {
        width: 100%;
        padding-bottom: 30px;
        margin-left: auto;
        max-width: 561px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }

.sec-lvl-5 {
  background-image: url(../img/sec-5-bg.png);
  background-repeat: no-repeat;
  background-position: top right; }
  .sec-lvl-5 .sec-tabs {
    padding: 65px 0; }
    .sec-lvl-5 .sec-tabs .head-sec-5 {
      font-size: 30px;
      font-family: RalewayBold;
      text-align: center;
      text-transform: uppercase;
      max-width: 1300px;
      margin: 0 auto 70px auto; }
    .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .left {
        width: 604px;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
        .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .left .nav-tabs {
          margin: 0;
          padding-top: 30px;
          border: none; }
          .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .left .nav-tabs li {
            border: none;
            display: block;
            float: none;
            margin-bottom: 15px; }
            .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .left .nav-tabs li a {
              border: none;
              padding: 0;
              padding-left: 55px;
              position: relative;
              display: block;
              color: #000;
              min-height: 46px;
              font-size: 18px;
              font-family: RalewayRegular;
              line-height: 20px;
              text-transform: uppercase;
              -webkit-transition: 0;
              transition: 0; }
              .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .left .nav-tabs li a:before {
                content: "";
                display: block;
                position: absolute;
                top: 3px;
                left: 0;
                width: 15px;
                height: 15px;
                background: #bc7c0b;
                border-radius: 50%;
                border: 5px solid #fff; }
              .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .left .nav-tabs li a:hover {
                border: none;
                background: transparent; }
            .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .left .nav-tabs li.active a {
              font-family: RalewayBold;
              font-size: 20px;
              font-weight: normal; }
              .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .left .nav-tabs li.active a span {
                font-size: 29px;
                color: #bc7c0b; }
              .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .left .nav-tabs li.active a:before {
                border: 3px solid #fff;
                -webkit-box-shadow: 0px 0px 0px 1px #bc7c0b;
                box-shadow: 0px 0px 0px 1px #bc7c0b; }
      .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .mid {
        width: 840px; }
        .sec-lvl-5 .sec-tabs .flex-bootstrap-tabs .mid p {
          padding: 10px 15px;
          font-family: PfsquaresansproReg;
          font-weight: bold;
          font-size: 20px; }
  .sec-lvl-5 .sec-form {
    padding-bottom: 165px;
    background-image: url(../img/fura.png), url(../img/rem-tur.png);
    background-repeat: no-repeat;
    background-position: bottom -15px left, bottom 40px right 20px; }
    .sec-lvl-5 .sec-form .max-w-container {
      max-width: 1400px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .sec-lvl-5 .sec-form .max-w-container .some-form {
        width: 555px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        padding: 140px 0 110px 100px;
        background-image: url(../img/form-image.png);
        background-repeat: no-repeat; }
        .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp {
          max-width: 250px; }
          .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp input {
            display: block;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid #d7d7d7;
            padding: 3px 0 3px 23px;
            background-color: transparent;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            margin-bottom: 45px;
            font-family: RalewayRegular;
            font-size: 14px;
            background-repeat: no-repeat; }
            .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp input:focus {
              border-color: #f0c212; }
            .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp input.name-inp {
              background-image: url(../img/name-inp-bg.png);
              background-position: top 6px left 4px; }
            .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp input.tel-inp {
              background-image: url(../img/tel-inp-bg.png);
              background-position: top 6px left 3px; }
          .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp .agreement {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            cursor: pointer;
            margin-bottom: 88px; }
            .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp .agreement .agree-check {
              -ms-flex-negative: 0;
                  flex-shrink: 0;
              width: 18px;
              height: 18px;
              margin-right: 12px;
              border: 3px solid #d7d7d7;
              display: block;
              position: relative;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
              .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp .agreement .agree-check:before {
                content: "";
                position: absolute;
                display: block;
                width: 8px;
                height: 8px;
                background-color: transparent;
                top: 2px;
                left: 2px;
                -webkit-transition: 0.3s;
                transition: 0.3s; }
              .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp .agreement .agree-check.agree {
                border-color: #51b918; }
                .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp .agreement .agree-check.agree:before {
                  background-color: #51b918; }
            .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp .agreement p {
              font-family: RalewayRegular;
              font-size: 10px; }
              .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp .agreement p span {
                -webkit-transition: 0.3s;
                transition: 0.3s;
                cursor: pointer; }
                .sec-lvl-5 .sec-form .max-w-container .some-form .alighn-inp .agreement p span:hover {
                  color: #55bb16; }
        .sec-lvl-5 .sec-form .max-w-container .some-form .b-flex {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
        .sec-lvl-5 .sec-form .max-w-container .some-form button {
          width: 100%;
          -webkit-box-shadow: -8px 10px 48px 0px rgba(0, 0, 0, 0.4);
          box-shadow: -8px 10px 48px 0px rgba(0, 0, 0, 0.4); }
    .sec-lvl-5 .sec-form .text-form-1 {
      padding-top: 80px;
      max-width: 850px; }
      .sec-lvl-5 .sec-form .text-form-1 .f {
        font-size: 40px;
        margin-bottom: 65px;
        font-family: RalewayBold;
        line-height: 40px;
        max-width: 675px;
        text-transform: uppercase;
        position: relative;
        -webkit-transform: translateX(-175px);
                transform: translateX(-175px); }
      .sec-lvl-5 .sec-form .text-form-1 .s {
        padding-left: 10px;
        font-family: RalewayRegular;
        margin-left: 70px;
        font-size: 24px;
        position: relative;
        border-left: 6px solid #bc7c0b; }
        .sec-lvl-5 .sec-form .text-form-1 .s:before {
          content: "";
          display: block;
          position: absolute;
          left: -5px;
          top: -60px;
          height: 60px;
          width: 1px;
          background: #bc7c0b; }

button {
  outline: none; }

.sec-lvl-6 {
  overflow: hidden;
  background-image: url(../img/bg-sec-6.jpg);
  background-size: cover;
  background-position: center; }
  .sec-lvl-6 .rel-wr {
    padding: 270px 0;
    position: relative; }
  .sec-lvl-6 .m-t {
    position: relative;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    line-height: 61px;
    font-family: RalewayBold;
    padding-left: 25px;
    border-left: 10px solid #bc7c0b; }
    .sec-lvl-6 .m-t:before {
      content: "";
      display: block;
      height: 1000px;
      position: absolute;
      bottom: 100%;
      left: -8px;
      width: 1px;
      background: #bc7c0b; }

.sec-lvl-7 {
  padding-top: 60px;
  background-image: url(../img/circle-3.png);
  background-repeat: no-repeat;
  background-position: top -11px left; }
  .sec-lvl-7 .head-sec-7 {
    text-transform: uppercase;
    font-size: 36px;
    font-family: RalewayBold;
    margin-bottom: 35px; }
    .sec-lvl-7 .head-sec-7 span {
      color: #bc7c0b;
      font-size: 55px; }
  .sec-lvl-7 .for-padd-sl {
    padding-left: 80px;
    margin-bottom: 70px; }
    .sec-lvl-7 .for-padd-sl .slider-wr-two .slide {
      outline: none; }
      .sec-lvl-7 .for-padd-sl .slider-wr-two .slide .head-slide {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 25px; }
        .sec-lvl-7 .for-padd-sl .slider-wr-two .slide .head-slide strong {
          font-size: 30px;
          font-family: RalewayRegular;
          display: block; }
      .sec-lvl-7 .for-padd-sl .slider-wr-two .slide .for-flex-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .sec-lvl-7 .for-padd-sl .slider-wr-two .slide .for-flex-text .img-wr {
          width: 550px;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
        .sec-lvl-7 .for-padd-sl .slider-wr-two .slide .for-flex-text .text {
          padding-left: 15px; }
          .sec-lvl-7 .for-padd-sl .slider-wr-two .slide .for-flex-text .text p {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 15px; }
            .sec-lvl-7 .for-padd-sl .slider-wr-two .slide .for-flex-text .text p:last-child {
              margin-bottom: 0; }
    .sec-lvl-7 .for-padd-sl .slider-wr-two .slick-arrow {
      display: block;
      position: absolute;
      height: 50px;
      width: 46px;
      border: none;
      background-color: transparent;
      font-size: 0;
      left: -50px;
      top: 50%;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .sec-lvl-7 .for-padd-sl .slider-wr-two .slick-arrow:hover {
        opacity: 0.8; }
      .sec-lvl-7 .for-padd-sl .slider-wr-two .slick-arrow.slick-prev {
        margin-top: -60px;
        background-image: url(../img/arr-prev-1.png); }
      .sec-lvl-7 .for-padd-sl .slider-wr-two .slick-arrow.slick-next {
        margin-top: 10px;
        background-image: url(../img/arr-next-1.png); }

.for-map-wr {
  max-width: 1600px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.45); }
  .for-map-wr .for-map {
    position: relative; }
    .for-map-wr .for-map #map {
      height: 655px; }
    .for-map-wr .for-map .abs-cont-desc {
      position: absolute;
      top: 0;
      right: 0;
      width: 665px;
      height: 100%;
      padding: 15px;
      padding-left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .for-map-wr .for-map .abs-cont-desc .white-bg {
        background: #fff;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 35px 30px 35px 60px; }
        .for-map-wr .for-map .abs-cont-desc .white-bg .head-text {
          font-size: 24px;
          color: #282727;
          font-family: RalewayBold;
          padding-left: 13px;
          text-transform: uppercase;
          border-left: 6px solid #bc7c0b;
          position: relative;
          margin-bottom: 25px; }
          .for-map-wr .for-map .abs-cont-desc .white-bg .head-text:before {
            content: "";
            display: block;
            height: 1000px;
            position: absolute;
            bottom: 100%;
            left: -5px;
            width: 1px;
            background: #bc7c0b; }
        .for-map-wr .for-map .abs-cont-desc .white-bg .flex-cont {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 20px; }
          .for-map-wr .for-map .abs-cont-desc .white-bg .flex-cont .side {
            width: 50%; }
        .for-map-wr .for-map .abs-cont-desc .white-bg .margin-pos {
          margin-bottom: 20px; }
        .for-map-wr .for-map .abs-cont-desc .white-bg .telephone {
          color: #000;
          font-size: 24px;
          font-family: 'Montserrat';
          font-weight: bold;
          padding-top: 24px;
          background-repeat: no-repeat;
          background-image: url(../img/tel-map.png);
          -webkit-transition: 0.3s;
          transition: 0.3s;
          display: block; }
          .for-map-wr .for-map .abs-cont-desc .white-bg .telephone:hover {
            color: #bc7c0b; }
        .for-map-wr .for-map .abs-cont-desc .white-bg .desc-one-block {
          font-size: 16px;
          color: #adabab;
          font-family: RalewayBold; }
        .for-map-wr .for-map .abs-cont-desc .white-bg .margin-2 {
          margin-bottom: 10px; }
        .for-map-wr .for-map .abs-cont-desc .white-bg .pick-adr {
          cursor: pointer;
          margin: 0;
          padding-top: 30px;
          font-family: RalewayBold;
          background-image: url(../img/mark.png);
          background-repeat: no-repeat;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
          .for-map-wr .for-map .abs-cont-desc .white-bg .pick-adr:hover {
            color: #bc7c0b; }
        .for-map-wr .for-map .abs-cont-desc .white-bg .mail {
          display: block;
          padding-top: 35px;
          font-family: RalewayBold;
          font-size: 16px;
          background-repeat: no-repeat;
          background-image: url(../img/mail.png);
          -webkit-transition: 0.3s;
          transition: 0.3s; }
          .for-map-wr .for-map .abs-cont-desc .white-bg .mail:hover {
            color: #bc7c0b; }
          .for-map-wr .for-map .abs-cont-desc .white-bg .mail.work-time {
            background-image: url(../img/time.png);
            background-position: top 3px left; }
        .for-map-wr .for-map .abs-cont-desc .white-bg .b-flex {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding-top: 25px; }

footer {
  padding: 245px 0 45px 0;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -200px; }
  footer p {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: RalewayRegular; }
    footer p:hover {
      color: #55bb16; }
  footer a {
    display: block;
    font-family: RalewayRegular;
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    footer a:hover {
      color: #55bb16; }

.sec-fixed-menu {
  position: fixed;
  z-index: 500;
  top: -400px;
  left: 0;
  width: 100%;
  background: #211d1d;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .sec-fixed-menu.showed {
    top: 0; }
  .sec-fixed-menu .menu-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .sec-fixed-menu .menu-wrapp .side {
      width: 400px; }
      .sec-fixed-menu .menu-wrapp .side.left-side {
        -ms-flex-negative: 0;
            flex-shrink: 0;
        padding-bottom: 10px; }
        .sec-fixed-menu .menu-wrapp .side.left-side .for-right-border {
          position: relative; }
          .sec-fixed-menu .menu-wrapp .side.left-side .for-right-border:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 50px;
            width: 1px;
            background: #959595;
            height: 45px;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%); }
      .sec-fixed-menu .menu-wrapp .side.right-side {
        -ms-flex-negative: 0;
            flex-shrink: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding-bottom: 10px; }
        .sec-fixed-menu .menu-wrapp .side.right-side .work-time {
          margin: 0;
          font-size: 14px;
          padding-right: 25px;
          text-transform: uppercase;
          color: #fff; }
        .sec-fixed-menu .menu-wrapp .side.right-side .phone {
          color: #fff;
          display: block;
          position: relative;
          top: 2px;
          padding-left: 18px;
          background-image: url(../img/tel.png);
          background-repeat: no-repeat;
          background-position: top 8px left;
          font-size: 21px;
          font-family: 'Montserrat';
          -webkit-transition: 0.3s;
          transition: 0.3s; }
          .sec-fixed-menu .menu-wrapp .side.right-side .phone:hover {
            color: #55bb16; }
      .sec-fixed-menu .menu-wrapp .side.mid-side {
        width: auto; }
        .sec-fixed-menu .menu-wrapp .side.mid-side ul {
          margin: 0;
          list-style: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .sec-fixed-menu .menu-wrapp .side.mid-side ul li {
            padding: 5px 20px;
            cursor: pointer;
            text-transform: uppercase;
            color: #fff;
            font-size: 18px;
            -webkit-transition: 0.3s;
            transition: 0.3s; }
            .sec-fixed-menu .menu-wrapp .side.mid-side ul li:hover {
              color: #55bb16; }

.modal {
  background: rgba(237, 237, 237, 0.75); }
  .modal .modal-dialog {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0; }
  .modal.in .modal-dialog {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important; }

.form-modal#get-a-consult .modal-dialog {
  max-width: 715px; }
.form-modal .modal-dialog {
  max-width: 861px;
  margin: 0; }
  .form-modal .modal-dialog .bg-gradient {
    background: linear-gradient(45deg, #79cc02, #2fa92a);
    padding: 22px; }
    .form-modal .modal-dialog .bg-gradient .fff-bg {
      background: #fff;
      padding: 20px 40px; }
      .form-modal .modal-dialog .bg-gradient .fff-bg .head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-bottom: 37px; }
        .form-modal .modal-dialog .bg-gradient .fff-bg .head .h-text .f {
          padding-left: 13px;
          font-family: RalewayRegular;
          font-size: 24px;
          text-transform: uppercase;
          border-left: 4px solid #bc7c0b;
          margin-bottom: 5px;
          font-weight: bold; }
        .form-modal .modal-dialog .bg-gradient .fff-bg .head .h-text .s {
          font-size: 14px; }
        .form-modal .modal-dialog .bg-gradient .fff-bg .head .closee {
          -webkit-transition: 0.3s;
          transition: 0.3s; }
          .form-modal .modal-dialog .bg-gradient .fff-bg .head .closee:hover {
            color: #55bb16;
            cursor: pointer; }
      .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side {
          max-width: 240px;
          width: 100%; }
          .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side .name-input {
            color: #6f6f6f;
            margin-bottom: 15px; }
          .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side input {
            display: block;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid #bc7c0b;
            padding: 3px 0;
            background-color: transparent;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            margin-bottom: 30px;
            font-family: RalewayRegular;
            font-size: 14px;
            background-repeat: no-repeat; }
            .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side input.tel-inp {
              font-family: 'Montserrat'; }
          .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side .agreement {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            cursor: pointer;
            margin-bottom: 15px; }
            .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side .agreement .agree-check {
              -ms-flex-negative: 0;
                  flex-shrink: 0;
              width: 18px;
              height: 18px;
              margin-right: 12px;
              border: 3px solid #d7d7d7;
              display: block;
              position: relative;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
              .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side .agreement .agree-check:before {
                content: "";
                position: absolute;
                display: block;
                width: 8px;
                height: 8px;
                background-color: transparent;
                top: 2px;
                left: 2px;
                -webkit-transition: 0.3s;
                transition: 0.3s; }
              .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side .agreement .agree-check.agree {
                border-color: #51b918; }
                .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side .agreement .agree-check.agree:before {
                  background-color: #51b918; }
            .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side .agreement p {
              font-family: RalewayRegular;
              font-size: 10px; }
              .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side .agreement p span {
                -webkit-transition: 0.3s;
                transition: 0.3s;
                cursor: pointer; }
                .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .left-side .agreement p span:hover {
                  color: #55bb16; }
        .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side {
          max-width: 350px;
          width: 100%; }
          .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side.without-mark {
            max-width: 240px; }
          .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side .name-input {
            color: #6f6f6f;
            margin-bottom: 15px; }
          .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side .tel-inp {
            display: block;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid #bc7c0b;
            padding: 3px 0;
            background-color: transparent;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            margin-bottom: 30px;
            font-family: 'Montserrat';
            font-size: 14px;
            background-repeat: no-repeat; }
          .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side .flex-rows {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 30px; }
            .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side .flex-rows input {
              display: block;
              width: 100%;
              outline: none;
              border: none;
              border-bottom: 1px solid #bc7c0b;
              padding: 3px 0;
              background-color: transparent;
              -webkit-transition: 0.3s;
              transition: 0.3s;
              margin-bottom: 30px;
              font-family: RalewayRegular;
              font-size: 14px;
              background-repeat: no-repeat;
              max-width: 145px; }
              .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side .flex-rows input:last-child {
                margin-left: auto; }
            .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side .flex-rows p {
              font-family: RalewayBlack;
              font-size: 18px;
              margin-bottom: 0; }
            .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side .flex-rows .img-bg {
              width: 100px;
              height: 80px;
              margin-left: auto;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain; }
          .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side .b-flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center; }
            .form-modal .modal-dialog .bg-gradient .fff-bg .m-mody .right-side .b-flex button {
              padding: 9px 80px; }

#agreement-modal .modal-dialog {
  width: 930px; }
#agreement-modal .buy_form_wrap {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  padding: 40px 10px 10px 10px; }
#agreement-modal .closee {
  font-size: 25px;
  position: absolute;
  right: 12px;
  top: -3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  display: block; }
  #agreement-modal .closee:hover {
    color: #55bb16; }
#agreement-modal .for-scroll {
  height: 500px;
  padding: 25px;
  overflow: auto; }
  #agreement-modal .for-scroll h6 {
    text-align: center;
    font-family: RalewayBlack;
    text-transform: uppercase;
    margin-bottom: 45px;
    font-size: 26px; }
  #agreement-modal .for-scroll p {
    font-size: 14px;
    margin-bottom: 15px; }
    #agreement-modal .for-scroll p strong {
      display: block; }

#agreement-modal .for-scroll::-webkit-scrollbar {
  background: #fff;
  width: 8px; }

#agreement-modal .for-scroll::-webkit-scrollbar-thumb {
  background: #55bb16;
  border-radius: 4px;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */