@font-face {
    font-family: PfsquaresansproReg;
    src: url(../fonts/pfsquaresanspro-regular.ttf);
}

@font-face {
    font-family: RalewayRegular;
    src: url(../fonts/RalewayRegular.eot);
    src: local('☺'), url('../fonts/RalewayRegular.woff') format('woff'), url('../fonts/RalewayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RalewayBlack;
    src: url(../fonts/RalewayBlack.eot);
    src: local('☺'), url('../fonts/RalewayBlack.woff') format('woff'), url('../fonts/RalewayBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RalewayBold;
    src: url(../fonts/RalewayBold.eot);
    src: local('☺'), url('../fonts/RalewayBold.woff') format('woff'), url('../fonts/RalewayBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v10-latin-regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-v10-latin-regular.woff2') format('woff2'), url('../fonts/montserrat-v10-latin-regular.woff') format('woff'), url('../fonts/montserrat-v10-latin-regular.ttf') format('truetype'), url('../fonts/montserrat-v10-latin-regular.svg#Montserrat') format('svg');
}

$color: #55bb16;
$sColor:#bc7c0b;
body {
    font-family: PfsquaresansproReg;
}

.max-container {
    padding: 0 85px;
    position: relative;
}

.button-style {
    display: block;
    color: #fff;
    font-size: 18px;
    font-family: RalewayRegular;
    padding: 12px 80px;
    border-radius: 50px;
    background: linear-gradient(45deg, #79cc02, #2fa92a);
    cursor: pointer;
    border: none;
    transition: 0.3s;
    &.shadow{
        box-shadow: -8px 10px 48px 0px rgba(0, 0, 0, 0.4);
    }
    &:hover {
        opacity: 0.92;
    }
}

.abs-lines-1 {
    position: absolute;
    height: 100%;
    transform: translateX(165px);
    top: 0;
    left: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    &.lines-at-sec-7{
        transform: translateX(-230px);
        .for-p-style{
            position: absolute;
            .one-b{
                transform: none!important;
                width: 620px!important;
                p{
                    font-size: 23px;
                    
                }
                
            }
            .s{
                font-size: 18px;
                color: #fff;
                padding-left: 20px;
            }
            &.one-for-1{
                top: 115px;
                left: 0;
            }
            &.one-for-2{
                top: 285px;
                left: 187px;
                .one-b-2:after {
                    bottom: 242px;
                }
            }
            &.one-for-3{
                top: 465px;
                left: 423px;
                .one-b-3{
                    .small-line{
                        bottom: 367px;
                    }
                }
                .one-b-3:after{
                    bottom: 254px;
                    height: 38px;   
                }
            }
        }
    }
    .one-b {
        border-left: 6px solid #bc7c0b;
        width: 300px;
        position: relative;
        &:before {
            content: "";
            background: #bc7c0b;
            display: block;
            position: absolute;
            bottom: 100%;
            width: 1px;
            left: -5px;
        }
        &:after {
            content: "";
            background: #bc7c0b;
            display: block;
            position: absolute;
            height: 1000px;
            width: 1px;
            left: -5px;
        }
        p {
            color: #fff;
            font-family: RalewayBold;
            font-size: 30px;
            padding-left: 15px;
            text-transform: uppercase;
        }
        &.one-b-1 {
            transform: translateY(-130px);
            &:before {
                height: 145px;
            }
            &:after {
                bottom: 271px;
            }
        }
        &.one-b-2 {
            transform: translateX(-120px);
            &:before {
                height: 43px;
            }
            &:after {
                bottom: 223px;
            }
        }
        &.one-b-3 {
            transform: translate(-220px, 130px);
            &:before {
                height: 43px;
            }
            &:after {
                bottom: 223px;
                height: 265px;
            }
            .small-line {
                background: #bc7c0b;
                display: block;
                position: absolute;
                height: 1000px;
                width: 1px;
                left: -5px;
                bottom: 531px;
            }
        }
    }
    
}

.sec-lvl-1 {
    position: relative;
    overflow: hidden;
    header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        .menu-wrapp {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .side {
                width: 400px;
                &.left-side {
                    flex-shrink: 0;
                    .for-right-border {
                        position: relative;
                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: calc(50% + 5px);
                            right: 50px;
                            width: 1px;
                            background: #959595;
                            height: 45px;
                            transform: translateY(-50%);
                        }
                    }
                }
                &.right-side {
                    flex-shrink: 0;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    .work-time {
                        margin: 0;
                        font-size: 14px;
                        padding-right: 25px;
                        text-transform: uppercase;
                        color: #fff;
                    }
                    .phone {
                        color: #fff;
                        display: block;
                        position: relative;
                        top: 2px;
                        padding-left: 18px;
                        background-image: url(../img/tel.png);
                        background-repeat: no-repeat;
                        background-position: top 5px left;
                        font-size: 18px;
                        font-family: 'Montserrat';
                        transition: 0.3s;
                        &:hover {
                            color: $color;
                        }
                    }
                }
                &.mid-side {
                    width: auto;
                    ul {
                        margin: 0;
                        list-style: none;
                        display: flex;
                        li {
                            padding: 5px 20px;
                            cursor: pointer;
                            text-transform: uppercase;
                            color: #fff;
                            font-size: 18px;
                            transition: 0.3s;
                            &:hover {
                                color: $color;
                            }
                        }
                    }
                }
            }
        }
    }
    .slider-main-wr {
        .slider-main {
            .slide {
                outline: none;
                height: 750px;
                background-size: cover;
                background-position: center;
            }
        }
    }
    .abs-contant-slider {
        position: absolute;
        top: 150px;
        left: 0;
        z-index: 5;
        width: 100%;
        .left-side {
            width: 50%;
            h2 {
                font-size: 60px;
                font-family: RalewayBlack;
                color: #fff;
            }
            .some-images {
                padding: 20px 0;
            }
            .some-text {
                font-size: 16px;
                color: #fff;
                text-transform: uppercase;
                font-family: RalewayRegular;
                margin-bottom: 20px;
            }
        }
        .for-main-button-wrapp {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .slider-nav-wr {
        position: absolute;
        z-index: 5;
        bottom: 15px;
        left: 0;
        width: 100%;
        .head-sl-nav {
            margin-bottom: 25px;
            color: #fff;
            font-size: 24px;
            text-align: center;
            font-family: RalewayBold;
            text-transform: uppercase;
        }
        .max-container {
            max-width: 1450px;
            margin: 0 auto;
            padding: 0;
        }
        .slider-nav {
            .slide {
                outline: none;
                padding-bottom: 3px;
                padding-left: 3px;
                cursor: pointer;
               
                .nav-one-sl {
                    position: relative;
                }
                span {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 18px;
                    margin-bottom: 15px;
                    display: block;
                }
                .circle {
                    width: 13px;
                    height: 13px;
                    background: #959595;
                    border-radius: 50%;
                    border: 3px solid transparent;
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 48px;
                        left: 13px;
                        background: #959595;
                        width: calc(100% - 10px);
                        height: 1px;
                    }
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 48px;
                        left: 13px;
                        background: $color;
                        width: calc(0% - 10px);
                        height: 1px;
                    }
                }
                &.slick-current {
                    .circle {
                        border: none;
                        background: transparent;
                        -webkit-box-shadow: 0px 0px 0px 3px rgba(85, 187, 22, 1);
                        -moz-box-shadow: 0px 0px 0px 3px rgba(85, 187, 22, 1);
                        box-shadow: 0px 0px 0px 3px rgba(85, 187, 22, 1);
                        &.changed {
                            &:after {
                                transition: width 5s;
                                width: calc(100% - 10px);
                            }
                        }
                    }
                }
            }
            .slick-arrow {
                position: absolute;
                bottom: 10px;
                font-size: 0;
                border: none;
                background-color: transparent;
                width: 14px;
                height: 26px;
                outline: none;
                &.slick-prev {
                    left: -60px;
                    background-image: url(../img/arr-prev.png);
                }
                &.slick-next {
                    right: -60px;
                    background-image: url(../img/arr-next.png);
                }
            }
        }
        .abs-all-marks {
            position: absolute;
            bottom: 4px;
            right: 0;
            cursor: pointer;
            z-index: 10;
            span {
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
                margin-bottom: 15px;
                display: block;
                text-align: right;
            }
            .circle {
                width: 13px;
                height: 13px;
                background: #959595;
                border-radius: 50%;
                border: 3px solid transparent;
                margin-left: auto;
            }
        }
    }
}

.sec-lvl-2 {
    background-image: url(../img/circle-img.png),url(../img/turb.jpg);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    .for-flex-sides{
        display: flex;
        .left-side{
            width: 40%;
            padding-top: 150px;
             text-transform: uppercase;
            h2{
                font-size: 60px;
                color: $sColor;
                font-family: RalewayBold;
                margin-bottom: 20px;
            }
            .t1{
                font-family: RalewayBold;
                font-size: 24px;
                margin-bottom: 37px;
            }
            .t2{
                font-size: 24px;
                color: $sColor;
                margin-bottom: 10px;
                 font-family: RalewayBold;
            }
            .t3{
                font-family: RalewayBold;
                font-size: 18px;
                margin-bottom: 60px;
            }
            .t4{
                font-size: 10px;
                font-family: RalewayRegular;
                margin-bottom: 30px;
            }
            
        }
        .right-side{
            width: 60%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    
}

.form-wrapp {
    width: 100%;
    form {
        margin: 0 auto;
        position: relative;
      
        width: 450px;
        background-size: contain;
        background: url(../img/sec-2-form-top.png), url(../img/sec-2-form-bott.png);
        background-position: top left, bottom left;
        background-repeat: no-repeat;
        padding-bottom: 95px;
    }
    .first-form-text {
        padding: 130px 0 0 0;
        font-family: RalewayBold;
        font-size: 24px;
        color: #3e4234;
        position: relative;
        
        text-transform: uppercase;
    }
    .alighn-inp {
        width: 245px;
        margin: 0 auto;
        input {
            display: block;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid #d7d7d7;
            padding: 3px 0 3px 23px;
            background-color: transparent;
            transition: 0.3s;
            margin-bottom: 45px;
            font-family: RalewayRegular;
            font-size: 14px;
            background-repeat: no-repeat;
            &:focus {
                border-color: #f0c212;
            }
            &.name-inp {
                background-image: url(../img/name-inp-bg.png);
                background-position: top 6px left 4px;
            }
            &.tel-inp {
                background-image: url(../img/tel-inp-bg.png);
                background-position: top 6px left 3px;
            }
        }
        .agreement {
            display: flex;
            cursor: pointer;
            margin-bottom: 55px;
            .agree-check {
                flex-shrink: 0;
                width: 18px;
                height: 18px;
                margin-right: 12px;
                border: 3px solid #d7d7d7;
                display: block;
                position: relative;
                transition: 0.3s;
                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 8px;
                    height: 8px;
                    background-color: transparent;
                    top: 2px;
                    left: 2px;
                    transition: 0.3s;
                }
                &.agree {
                    border-color: #51b918;
                    &:before {
                        background-color: #51b918;
                    }
                }
            }
            p {
                font-family: RalewayRegular;
                font-size: 10px;
            }
        }
    }
    button{
        width: 100%;
        -webkit-box-shadow: -8px 10px 48px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: -8px 10px 48px 0px rgba(0,0,0,0.4);
        box-shadow: -8px 10px 48px 0px rgba(0,0,0,0.4);
    }
   
}

.tatia-counter-1.flip-clock-wrapper ul{
    width: 38px;
    height: 61px;
    
}
.tatia-counter-1.flip-clock-wrapper ul li a div div.inn{
    font-size: 46px;
}
.tatia-counter-1.flip-clock-wrapper ul li{
    line-height: 65px;
}

.tatia-counter-1 .flip-clock-dot.top{
    top: 22px;
}

.tatia-counter-1 .flip-clock-divider{
    height: 70px;
}

.tatia-counter-1 .flip-clock-dot.bottom {
    bottom: 19px;
}

.tatia-counter-1 .flip-clock-divider .flip-clock-label{
    right: -61px;
}
.tatia-counter-1 .flip-clock-divider.minutes .flip-clock-label {
    right: -66px;
}

.tatia-counter-1 .flip-clock-divider.seconds .flip-clock-label {
    right: -67px;
}
.flip-clock-wrapper{
    margin: 0;
    margin-bottom: 35px;
}

.sec-lvl-3{
    background: #ebebeb;
    .for-slide-down{
        
    }
    .first-row{
        display: flex;
        align-items: center;
        padding-top: 40px;
        .cat-taxt{
            text-transform: uppercase;
            flex-shrink: 0;
            width: 10%;
             margin-bottom: 40px;
            font-family: RalewayBold;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                color: $color;
            }
            &.for-change{
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .flex-cat-lvl-1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        &.slided-block-style{
            .one-brand{
                width: 10%;
               
                
            }
        }
        .one-brand{
            width: 12.5%;
            padding: 0 20px;
            border-left: 1px solid #d9d9d9;
             margin-bottom: 40px;
            &:last-child{
                border-right: 1px solid #d9d9d9;
            }
            &:nth-child(10n){
                border-right: 1px solid #d9d9d9;
            }
            .for-bg-brand{
                height: 75px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                
            }
        }
    }
    .text-in-slide-down{
        .f{
            font-family: RalewayBold;
            font-size: 24px;
            text-transform: uppercase;
            border-left: 6px solid $sColor;
            letter-spacing: 1px;
            padding-left: 20px;
    
        }
        .s{
            padding-left: 26px;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            font-family: RalewayRegular;
            font-weight: bold;
            padding-bottom: 40px;
        }
    }
}

.sec-lvl-4{
    padding: 60px 0;
    background-image: url(../img/car-bg.png),url(../img/circle-2.png);
    background-repeat: no-repeat;
    background-position: top left -10px,top -309px left 68%;
    .for-flex-cont{
        display: flex;
        .side{
            width: 665px;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            h4{
                font-family: RalewayBold;
                font-size: 47px;
                font-weight: normal;
                text-transform: uppercase;
                margin-bottom: 15px;
                span{
                    font-size: 55px;
                    color: $sColor;
                }
            }
            p{
                max-width: 561px;
                margin-left: auto;
                font-family: RalewayBold;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 80px;
            }
            .senter-butt{
                width: 100%;
                padding-bottom: 30px;
                margin-left: auto;
                max-width: 561px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.sec-lvl-5{
    background-image: url(../img/sec-5-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    .sec-tabs{
        padding: 65px 0;
        .head-sec-5{
            font-size: 30px;
            font-family: RalewayBold;
            text-align: center;
            text-transform: uppercase;
            max-width: 1300px;
            margin: 0 auto 70px auto;
        }
        .flex-bootstrap-tabs{
            display: flex;
            align-items: center;
            .left{
                width: 604px;
                flex-shrink: 0;
                .nav-tabs{
                    margin: 0;
                    padding-top: 30px;
                    border: none;
                    li{
                        border: none;
                        display: block;
                        float: none;
                        margin-bottom: 15px;
                        
                        a{
                            border: none;
                            padding: 0;
                            padding-left: 55px;
                            position: relative;
                            display: block;
                            color: #000;
                            min-height: 46px;
                            font-size: 18px;
                            font-family: RalewayRegular;
                           
                            line-height: 20px;
                            text-transform: uppercase;
                            transition: 0;
                            &:before{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 3px;
                                left: 0;
                                width: 15px;
                                height: 15px;
                                background: $sColor;
                                border-radius: 50%;
                                 border: 5px solid #fff;
                                
                            }
                            
                            &:hover{
                                border: none;
                                background: transparent;
                            }
                        }
                        &.active{
                            a{
                                font-family: RalewayBold;
                                font-size: 20px;
                                font-weight: normal;
                                span{
                                    font-size: 29px;
                                    color: $sColor;
                                }
                                
                                &:before{
                                    border: 3px solid #fff;
                                    -webkit-box-shadow: 0px 0px 0px 1px rgba(188, 124, 11, 1);
                                    -moz-box-shadow: 0px 0px 0px 1px  rgba(188, 124, 11, 1);
                                    box-shadow: 0px 0px 0px 1px  rgba(188, 124, 11, 1);
                                }
                            }  
                        }
                    }
                }
                
            }
            .mid{
                width: 840px;
                p{
                    padding: 10px 15px;
                    font-family: PfsquaresansproReg;
                    font-weight: bold;
                    font-size: 20px;
                }
                
            }
        }
        
    }
    .sec-form{
        padding-bottom: 165px;
        background-image: url(../img/fura.png), url(../img/rem-tur.png);
        background-repeat: no-repeat;
        background-position: bottom -15px left, bottom 40px right 20px;
        .max-w-container{
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            .some-form{
                width: 555px;
                flex-shrink: 0;
                padding: 140px 0 110px 100px;
                background-image: url(../img/form-image.png);
                background-repeat: no-repeat;
                
                .alighn-inp {
                  
                   max-width: 250px;
                    input {
                        display: block;
                        width: 100%;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid #d7d7d7;
                        padding: 3px 0 3px 23px;
                        background-color: transparent;
                        transition: 0.3s;
                        margin-bottom: 45px;
                        font-family: RalewayRegular;
                        font-size: 14px;
                        background-repeat: no-repeat;
                        &:focus {
                            border-color: #f0c212;
                        }
                        &.name-inp {
                            background-image: url(../img/name-inp-bg.png);
                            background-position: top 6px left 4px;
                        }
                        &.tel-inp {
                            background-image: url(../img/tel-inp-bg.png);
                            background-position: top 6px left 3px;
                        }
                    }
                    .agreement {
                        display: flex;
                        cursor: pointer;
                        margin-bottom: 88px;
                        .agree-check {
                            flex-shrink: 0;
                            width: 18px;
                            height: 18px;
                            margin-right: 12px;
                            border: 3px solid #d7d7d7;
                            display: block;
                            position: relative;
                            transition: 0.3s;
                            &:before {
                                content: "";
                                position: absolute;
                                display: block;
                                width: 8px;
                                height: 8px;
                                background-color: transparent;
                                top: 2px;
                                left: 2px;
                                transition: 0.3s;
                            }
                            &.agree {
                                border-color: #51b918;
                                &:before {
                                    background-color: #51b918;
                                }
                            }
                        }
                        p {
                            font-family: RalewayRegular;
                            font-size: 10px;
                        }
                    }
                }
                .b-flex{
                    display: flex;
                }
                button{
                    width: 100%;
                    -webkit-box-shadow: -8px 10px 48px 0px rgba(0,0,0,0.4);
                    -moz-box-shadow: -8px 10px 48px 0px rgba(0,0,0,0.4);
                    box-shadow: -8px 10px 48px 0px rgba(0,0,0,0.4);
                }
            }
        }
        .text-form-1{
            padding-top: 80px;
            max-width: 850px;
            .f{
                font-size: 40px;
                margin-bottom: 65px;
                font-family: RalewayBold;
                line-height: 40px;
                max-width: 675px;
                text-transform: uppercase;
                position: relative;
                transform: translateX(-175px);
            }
            .s{
                padding-left: 10px;
                font-family: RalewayRegular;
                margin-left: 70px;
                font-size: 24px;
                position: relative;
                border-left: 6px solid $sColor;
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    left: -5px;
                    top: -60px;
                    height: 60px;
                    width: 1px;
                    background: $sColor;
                }
            }
        }
    }
}

button{
    outline: none;
}
.sec-lvl-6{
    overflow: hidden;
    background-image: url(../img/bg-sec-6.jpg);
    background-size: cover;
    background-position: center;
    .rel-wr{
        padding: 270px 0;
        position: relative;
        
    }
    .m-t{
        position: relative;
        font-size: 60px;
        color: #fff;
        text-transform: uppercase;
        line-height: 61px;
        font-family: RalewayBold;
        padding-left: 25px;
        border-left: 10px solid $sColor;
        &:before{
            content: "";
            display: block;
            height: 1000px;
            position: absolute;
            bottom: 100%;
            left: -8px;
            width: 1px;
            background: $sColor;
        }
    }
}

.sec-lvl-7{
    padding-top: 60px;
    background-image: url(../img/circle-3.png);
    background-repeat: no-repeat;
    background-position: top -11px left;
    .head-sec-7{
        text-transform: uppercase;
        font-size: 36px;
        font-family: RalewayBold;
        margin-bottom: 35px;
        span{
            color: $sColor;
            font-size: 55px;
        }
       
    }
    .for-padd-sl{
        padding-left: 80px;
        .slider-wr-two{
            .slide{
                outline: none;
                .head-slide{
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 25px;
                    strong{
                        font-size: 30px;
                        font-family: RalewayRegular;
                        display: block;
                    }
                }
                .for-flex-text{
                    display: flex;
                    align-items: center;
                    .img-wr{
                        width: 550px;
                        flex-shrink: 0;
                        
                    }
                    .text{
                        padding-left: 15px;
                        p{
                            font-size: 15px;
                            font-weight: bold;
                            margin-bottom: 15px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

